importFrom("lme4", "lmer", "lmerControl", "glmer", "glmerControl")
importFrom("grDevices", "dev.new", "dev.off", "recordPlot")
importFrom("graphics", "abline", "axis", "hist", "legend", "lines",
              "mtext", "par", "plot","segments","points","title")
importFrom("stats", ".getXlevels", "binomial", "cor", "fitted",
             "gaussian", "glm", "is.empty.model", "lm.fit", "lm.wfit",
             "model.matrix", "model.offset", "model.response",
             "model.weights", "poisson", "qqline", "qqnorm", "qt",
             "resid", "sd","lm","na.omit","t.test","residuals.glm")
importFrom("methods","setGeneric","is")
importFrom("utils", "read.csv","write.csv")
importFrom("Kendall","Kendall")
importFrom("tcltk","tktoplevel","tkwm.state","tkimage.create","tcl","tklabel",
           "tkcheckbutton","tclVar","tkconfigure","tclvalue","tkdestroy","tkbutton",
           "tkgrid","tkwait.window","tclServiceMode","tktitle")
importFrom("gtools","even")

exportPattern("^[[:alpha:]]+")
useDynLib(ant)
